---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="p-24">
		<div class ="title">
		  <div class="container">
			<h1>Hi! I'm <strong>Daniele Felicetta</strong></h1>
			<br />
		  </div>
		  <div class="container">
			<h2>I'm a front-end developer</h2>
			<br />
		  </div>
		</div>
		<div class="skills-container">
			<h3>My skills :</h3>
			<div class="skills skills1">
				<div class="tooltip">
				  <img src="/assets/icons/html-5.webp" alt="html5" />
				  <span class="tooltiptext">HTML 5</span>
				</div>
				<div class="tooltip">
				  <img src="/assets/icons/css-3.webp" alt="css3" />
				  <span class="tooltiptext">CSS3</span>
				</div>
				<div class="tooltip">
				  <img src="/assets/icons/sass.webp" alt="sass"/>
				  <span class="tooltiptext">SASS</span>
				</div>
				<div class="tooltip">
					<img src="/assets/icons/js.webp" alt="js"/>
                    <span class="tooltiptext">JAVASCRIPT</span>
				</div>
				<div class="tooltip">
					<img src="/assets/icons/typescript.svg" alt="typescript" />
                    <span class="tooltiptext">TYPESCRIPT</span>
				</div>
				<div class="tooltip">
					<img src="/assets/icons/tailwind-css.svg" alt="tailwind-css"/>
                    <span class="tooltiptext">TAILWIND</span>
				</div>
				<div class="tooltip">
					<img src="/assets/icons/react.svg" alt="redux/redux toolkit" />
                    <span class="tooltiptext">REACT</span>
				</div>
				<div class="tooltip">
					<img src="/assets/icons/redux-original.svg" alt="redux/redux toolkit" />
                    <span class="tooltiptext">REDUX</span>
				</div>
				<div class="tooltip">
					<img src="/assets/icons/nextjs.svg" alt="redux/redux toolkit" />
                    <span class="tooltiptext">NEXT</span>
				</div>
				<div class="tooltip">
					<img src="/assets/icons/git.webp" alt="git" />
                    <span class="tooltiptext">GIT</span>
				</div>
			</div>
			  <hr style={{marginTop:'30px'}}/>
			  <h3>And a little of :</h3>
			  <div class="skills skills2">
				<div class="tooltip">
					<img src="/assets/icons/java.webp" alt="java" />
                    <span class="tooltiptext">JAVA</span>
				</div>
				<div class="tooltip">
					<img src="/assets/icons/arduino.webp" alt="arduino" />
                    <span class="tooltiptext">ARDUINO</span>
				</div>
				<div class="tooltip">
					<img src="/assets/icons/wordpress.webp" alt="wordpress" />
                    <span class="tooltiptext">WORDPRESS</span>
				</div>
				<div class="tooltip">
					<img src="/assets/icons/gimp.webp" alt="gimp"/>
                    <span class="tooltiptext">GIMP</span>
				</div>
				<div class="tooltip">
					<img src="/assets/icons/linux.webp" alt="linux"/>
                    <span class="tooltiptext">LINUX</span>
				</div>
				<div class="tooltip">
					<img src="/assets/icons/rust.svg" alt="linux"/>
                    <span class="tooltiptext">RUST</span>
				</div>
				<div class="tooltip">
					<img src="/assets/icons/vue.svg" alt="vue"/>
                    <span class="tooltiptext">VUE</span>
				</div>
			</div>
		  </div>
	  </main>
</Layout>

<style>

</style>
