---
import Layout from '../layouts/Layout.astro';
---
<Layout title='Project'>
    <div  class="main-projects">
        <div class="title">   
          <h1 class='titleProjects'>Projects</h1>
        </div>
        
        <div class="project-list">
            <h2 style={{color:"rgb(65, 102, 7)"}}>Completed</h2>
            <br />
            <ul>
              <li>
                  <a href="https://www.peresistenzadiframmenti.it/" target="_blank" rel="nopeener noreferrer" >
                    <figure>
                      <img src="/assets/images/matteo-trentin.webp" alt="" >
                      <figcaption>Matteo Trentin</figcaption>
                    </figure>
                  </a>
              </li>
            </ul>
        </div>
        <div class="project-list">
            <h2 style={{color:"rgb(18, 160, 200)"}}>In progress</h2>
            <br />
            <ul>
                <li>
                    <a href="https://daniele-felicetta.github.io/miniPc/" target="_blank" rel="nopeener noreferrer">
                      <figure>
                        <img src="/assets/images/minipc.webp" alt=""/>
                        <figcaption>miniPc (only desktop)</figcaption>
                      </figure>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</Layout>