---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Daniele Felicetta: TopSecret">
    <div class="secret">
        <ul>
            <li><a href="/Ordinamento Verticale/index.html">Ordinamento Verticale</a></li>
        </ul>
    </div>
</Layout>
<style>
    .secret{
        text-align: center;
    }
    .secret ul{
        padding: 50px;
        font-size:30px;
        display: flex; 
        flex-direction: column; 
        align-items: center;
    }
    .secret li{
        background-color:rgba(183, 255, 0, 0.253);
         width:500px;
        border:1px solid gray;
        padding:50px;
        border-radius:10px;
    }
    
</style>